<h1>Sign up</h1>
<br>
<label>Usuari
  <input type="text" [(ngModel)]="nom">
</label>
<br>
<label>Correu
  <input type="email" [(ngModel)]="correu">
<br>
<label>Contrasenya
  <input type="password" [(ngModel)]="password">
</label>
<br>
<label>Repetir Contrasenya
  <input type="password" [(ngModel)]="repeatPassword">
</label>
<br>
<label>Idioma
  <select [(ngModel)]="selectedLanguage">
    <option value="" disabled selected>Selecciona un idioma</option>
    <option value="catala">Català</option>
    <option value="angles">Anglès</option>
    <option value="castella">Castellà</option>
    <option value="frances">Francès</option>
    <option value="italia">Italià</option>
  </select>
</label>
<br>
<button (click)="submit()">Registra't</button>
<br>
 