<h1>Sign up</h1>
<br>
<label>Usuari
  <input type="text" [(ngModel)]="nom">
</label>
<br>
<label>Correu
  <input type="email" [(ngModel)]="correu">
<br>
<label>Contrasenya
  <input type="password" [(ngModel)]="contrassenya">
</label>
<br>
<label>Repetir Contrasenya
  <input type="password" [(ngModel)]="repetirContrassenya">
</label>
<br>
<label>Idioma
  <select [(ngModel)]="idiomaSeleccionat" >
    <option value="" disabled selected>Selecciona un idioma</option>
    <option *ngFor="let idioma of idiomes" [value]="idioma">{{ idioma }}</option>
    
  </select>
</label>
<br>
<button (click)="submit()">Registra't</button>
<br>
 